<section class="oe_container">
    <div>
        <div class="text-center">
            <p>
                <img src="logo.png" style="width:200px;"/>
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">This module allows to configure shipping charges based on the total weight of order in odoo eCommerce and sales module. </h2>
        <p style="color:red">This module is very useful when you are shipping a product which has very heavy weight. For example, a shipping carrier allows limited weight like ups only allow 150lbs. In this kind of case you have to use other transport services and you want to charge customers for shipping then this module is helpful.</p>
        <div>
            <h4>Features</h4>
            <ul>
                <li style="font-weight:bold">Allow to configure shipping charges based on the total weight of order in delivery method.</li>
                <li style="font-weight:bold">Autometically set shipping charges in website order based on configuration.</li>
                <li style="font-weight:bold">Autometically set shipping charges in back-end sale order.</li>
                <li style="font-weight:bold;color:red">Free module update: If you not using odoo eCommerce we will update this module free of cost.</li>
            </ul>
        </div>
        <div class="oe_screenshot" style="text-align: left;border: 1px solid gray">
            <ul>
                <li style="font-weight:bold;">Set the product weight uom for your products.</li>
            </ul>
            <img style="max-width: 100%;" src="img_1.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can create a fixed cost shipping method and if you want to use the dynamic shipping cost then you can mark the checkbox "Used Fixed Shipping Cost Range" and configure weight and shipping cost according to your needs.</li>
            </ul>
            <img style="max-width: 100%;" src="img_2.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">In below screenshot you see the 30kg weight for the product Three-Seat Sofa</li>
            </ul>
            <img style="max-width: 100%;" src="img_3.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can see the product Three-Seat Sofa in shopping cart with 1 Qty</li>

            </ul>
            <img style="max-width: 100%;" src="img_4.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">In below screenshot you can see that shipping cost apply based on configuration of deilvery method. Total order weight 1qty * 30kg so it will be 30kg and if you see the shipping cost configuration if order weight between 1 to 50kg then it will apply shipping cost 60.</li>
            </ul>
            <img style="max-width: 100%;" src="img_5.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Now for the same product we have 6 qty in shopping cart.</li>
            </ul>
            <img style="max-width: 100%;" src="img_6.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">In below screenshot you can see that shipping cost apply based on configuration of deilvery method. Total order weight 6qty * 30kg so it will be 180kg and if you see the shipping cost configuration if order weight between 101 to 200kg then it will apply shipping cost 500.</li>
            </ul>
            <img style="max-width: 100%;" src="img_7.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">If you create sale order from back end shipping cost will be apply same way its apply on website.</li>
            </ul>
            <img style="max-width: 100%;" src="img_8.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">In below screenshot you can see that shipping cost apply based on configuration of deilvery method. Total order weight 1qty * 30kg so it will be 30kg and if you see the shipping cost configuration if order weight between 1 to 50kg then it will apply shipping cost 60.</li>
            </ul>
            <img style="max-width: 100%;" src="img_9.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">In below screenshot you can see that shipping cost apply based on configuration of deilvery method. Total order weight 6qty * 30kg so it will be 180kg and if you see the shipping cost configuration if order weight between 101 to 200kg then it will apply shipping cost 500.</li>
            </ul>
            <img style="max-width: 100%;" src="img_10.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Shipping cost set in sale order.</li>
            </ul>
            <img style="max-width: 100%;" src="img_11.png"/><br /><br/>
        </div>
     </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Help and Support</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
         You can see our profile <a href="https://www.fiverr.com/patel_anil/odoo-erp-system-customization?context_referrer=search_gigs&source=main_banner&ref_ctx_id=bf50b88e-a100-4d64-a32e-eb16c20c4004&pckg_id=1&pos=11" style="color:blue;margin-top:5px">Here</a><br/><br/>
        Email : anil.patel13688@gmail.com 
    </div>
        <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
        <h4 class="oe_mt32 oe_mb8 text-center">
            <b>Valueble IT Solution</b>
        </h4>
</section>