<section class="oe_container">
    <div>
        <div class="text-center">
            <p>
                <img src="logo.png" style="width:200px;"/>
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">This module allows to send multiple sales quotations and purchase quotations.</h2>
        <div>
            <h4>Features</h4>
            <ul>
                <li style="font-weight:bold">Send multiple sales quotation in one email.</li>
                <li style="font-weight:bold">Send multiple RFQ for purchase in one email.</li>
            </ul>
        </div>
        <div class="oe_screenshot" style="text-align: left;border: 1px solid gray">
            <ul>
                <li style="font-weight:bold;">Select quotation from list view</li>
            </ul>
            <img style="max-width: 100%;" src="main_screenshot.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Click on Send Multiple Quotation action it will open the mail popup with all the select quotation and with pdf attchment.</li>
            </ul>
            <img style="max-width: 100%;" src="image_1.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Select RFQ from list view.</li>
            </ul>
            <img style="max-width: 100%;" src="image2.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Click on Send Multiple RFQ action it will open the mail popup with all the selected rfq and with attachment.</li>
            </ul>
            <img style="max-width: 100%;" src="image3.png"/><br /><br/>
        </div>
     </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Help and Support</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
         You can see our profile <a href="https://www.fiverr.com/patel_anil/odoo-erp-system-customization?context_referrer=search_gigs&source=main_banner&ref_ctx_id=bf50b88e-a100-4d64-a32e-eb16c20c4004&pckg_id=1&pos=11" style="color:blue;margin-top:5px">Here</a><br/><br/>
        Email : anil.patel13688@gmail.com 
    </div>
        <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
        <h4 class="oe_mt32 oe_mb8 text-center">
            <b>Valueble IT Solution</b>
        </h4>
</section>