<section class="oe_container">
    <div>
        <div class="text-center">
            <p>
                <img src="logo.png" style="width:200px;"/>
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">This module extend the odoo promotion program and allows you to apply a multiple promo code on website.</h2>
        <div>
            <h4>Features</h4>
            <ul>
                <li style="font-weight:bold">Extend odoo default promotion program and allows you to apply multiple promo code while checkout on ecommerce website.</li>
            </ul>
        </div>
        <div class="oe_screenshot" style="text-align: left;border: 1px solid gray">
            <ul>
                <li style="font-weight:bold;">Multiple promo code with different configuration.</li>
            </ul>
            <img style="max-width: 100%;" src="img3.png"/><br /><br/>
            <ul>

            </ul>
            <img style="max-width: 100%;" src="img2.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can apply a promo code one by one and if promo code valid then it will apply on order.</li>
            </ul>
            <img style="max-width: 100%;" src="img1.png"/><br /><br/>
        </div>
     </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Help and Support</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
         You can see our profile <a href="https://www.fiverr.com/patel_anil/odoo-erp-system-customization?context_referrer=search_gigs&source=main_banner&ref_ctx_id=bf50b88e-a100-4d64-a32e-eb16c20c4004&pckg_id=1&pos=11" style="color:blue;margin-top:5px">Here</a><br/><br/>
        Email : anil.patel13688@gmail.com 
    </div>
        <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
        <h4 class="oe_mt32 oe_mb8 text-center">
            <b>Valueble IT Solution</b>
        </h4>
</section>