<section class="oe_container">
    <div>
        <div class="text-center">
            <p>
                <img src="logo.png" style="width:200px;"/>
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">This module allows you to send survey reminder based on reminder days set in survey</h2>
        <div>
            <h4>Features</h4>
            <ul>
                <li style="font-weight:bold">Specify the reminder days in survey. once survey share with the contacts or emails it will send reminder after every days you configure in survey.</li>
            </ul>
        </div>
        <div class="oe_screenshot" style="text-align: left;border: 1px solid gray">
            <ul>
                <li style="font-weight:bold;">You can set Reminder After Days. In below screenshot you can see reminder days is 2 so system will send reminder email to the share list if they not complete the survey every 2 days</li>
            </ul>
            <img style="max-width: 100%;" src="img_1.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can share survey by clicking share button.</li>
            </ul>
            <img style="max-width: 100%;" src="img_2.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can see the status of the share survey by clicking answer button and removing completed filter.</li>
            </ul>
            <img style="max-width: 100%;" src="img_3.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">Below reminder email sent out to the contacts.</li>

            </ul>
            <img style="max-width: 100%;" src="img_4.png"/><br /><br/>
            <ul>
                <li style="font-weight:bold;">below scheduler run every days and sent the email. you can change the time if you want.</li>
            </ul>
            <img style="max-width: 100%;" src="img_5.png"/><br /><br/>
            
        </div>
     </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Help and Support</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
         You can see our profile <a href="https://www.fiverr.com/patel_anil/odoo-erp-system-customization?context_referrer=search_gigs&source=main_banner&ref_ctx_id=bf50b88e-a100-4d64-a32e-eb16c20c4004&pckg_id=1&pos=11" style="color:blue;margin-top:5px">Here</a><br/><br/>
        Email : anil.patel13688@gmail.com 
    </div>
        <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
        <h4 class="oe_mt32 oe_mb8 text-center">
            <b>Valueble IT Solution</b>
        </h4>
</section>